/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.header {
  display: flex;
  background-color: #FFDBAA;
  color: #553100;
  justify-content: center;
  align-items: center;
  height: 180px;
  border-bottom: 1.5px solid black;
}

#airlines {
font-size: 3em;
font-weight: bold;
color: #553100;
font: bold;
font-family: "Arial";
margin-left: 40px;
margin-bottom: 50px;
margin-right: auto;
}

.MainButton {
  font-size: 30px;
  font-weight: bolder;
  background-color: #805215;
  color: white;
  width: 160px;
  height: 2.5em;
  margin-left: auto;
  margin-right: 50px;
  margin-inline-start: 8px;
  margin-bottom: 15px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  background-color: #D4A76A;
  align-items: center;
  justify-content: center;
}

section {
  border:none;
  padding: 20px;
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(2, 2, 2, 0.6);
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section label {
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;
}

.about-us {
  width: calc(90% - 50px);
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
}

.flights button {
  font-size: 30px;
  font-weight: bolder;
  background-color: #805215;
  color: white;
  width: 240px;
  height: 2em;
}

.group-trips button {
  font-size: 30px;
  font-weight: bolder;
  background-color: #805215;
  color: white;
  width: 240px;
  height: 2em;
}

.discount-flights button {
  font-size: 30px;
  font-weight: bolder;
  background-color: #805215;
  color: white;
  width: 240px;
  height: 2em;
}

.about-us button {
  font-size: 30px;
  font-weight: bolder;
  background-color: #805215;
  color: white;
  width: 240px;
  height: 2em;
  align-content: center;
  text-align: center;
}


