/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

div {
  display: flex;
  background-color: #FFDBAA;
  color: #553100;
  justify-content: center;
  align-items: center;
  height: 180px;
  border-bottom: 1.5px solid black;
}

#airlines {
font-size: 3em;
font-weight: bold;
color: #553100;
font: bold;
font-family: "Arial";
margin-left: 40px;
margin-bottom: 50px;
margin-right: auto;
}

.MainButton {
  font-size: 30px;
  font-weight: bolder;
  background-color: #805215;
  color: white;
  width: 160px;
  height: 2.5em;
  margin-left: auto;
  margin-right: 50px;
  margin-inline-start: 8px;
  margin-bottom: 15px;
}



